RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
#php_value include_path 'C:/xampp/php/PEAR;D:/PHP_API'
#php_admin_value  auto_prepend_file "conf.php"
#php_value auto_append_file "render.php"